@font-face {
    font-family: OpenDyslexicMono;
    src: url("/assets/fonts/OpenDyslexic2/OpenDyslexicMono-Regular.otf");
}

@font-face {
    font-family: OpenDyslexic;
    src: url("/assets/fonts/OpenDyslexic2/OpenDyslexic-Regular.otf");
}

@font-face {
    font-family: OpenDyslexic;
    src: url("/assets/fonts/OpenDyslexic2/OpenDyslexic-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: OpenDyslexic;
    src: url("/assets/fonts/OpenDyslexic2/OpenDyslexic-Italic.otf");
    font-style: italic;
}

@font-face {
    font-family: OpenDyslexic;
    src: url("/assets/fonts/OpenDyslexic2/OpenDyslexic-BoldItalic.otf");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: FiraCode;
    src: url("/assets/fonts/FiraCode/FiraCode-VariableFont_wght.ttf");
}

/* https://www.w3.org/TR/predefined-counter-styles/#chinese-styles */

@counter-style binary {
    system: numeric;
    symbols: '\30' '\31';
    /* symbols: '0' '1'; */
}

@counter-style circled-decimal {
    system: fixed 0;
    symbols: '\24EA' '\2460' '\2461' '\2462' '\2463' '\2464' '\2465' '\2466' '\2467' '\2468' '\2469' '\246A' '\246B' '\246C' '\246D' '\246E' '\246F' '\2470' '\2471' '\2472' '\2473' '\3251' '\3252' '\3253' '\3254' '\3255' '\3256' '\3257' '\3258' '\3259' '\325a' '\325b' '\325c' '\325d' '\325e' '\325f' '\32b1' '\32b2' '\32b3' '\32b4' '\32b5' '\32b6' '\32b7' '\32b8' '\32b9' '\32ba' '\32bb' '\32bc' '\32bd' '\32be' '\32bf';
    /* symbols: '⓪' '①' '②' '③' '④' '⑤' '⑥' '⑦' '⑧' '⑨' '⑩' '⑪' '⑫' '⑬' '⑭' '⑮' '⑯' '⑰' '⑱' '⑲' '⑳' '㉑' '㉒' '㉓' '㉔' '㉕' '㉖' '㉗' '㉘' '㉙' '㉚' '㉛' '㉜' '㉝' '㉞' '㉟' '㊱' '㊲' '㊳' '㊴' '㊵' '㊶' '㊷' '㊸' '㊹' '㊺' '㊻' '㊼' '㊽' '㊾' '㊿'; */
    suffix: ' ';
}

@counter-style circled-lower-latin {
    system: fixed;
    symbols: '\24D0' '\24D1' '\24D2' '\24D3' '\24D4' '\24D5' '\24D6' '\24D7' '\24D8' '\24D9' '\24DA' '\24DB' '\24DC' '\24DD' '\24DE' '\24DF' '\24E0' '\24E1' '\24E2' '\24E3' '\24E4' '\24E5' '\24E6' '\24E7' '\24E8' '\24E9';
    /* symbols: 'ⓐ' 'ⓑ' 'ⓒ' 'ⓓ' 'ⓔ' 'ⓕ' 'ⓖ' 'ⓗ' 'ⓘ' 'ⓙ' 'ⓚ' 'ⓛ' 'ⓜ' 'ⓝ' 'ⓞ' 'ⓟ' 'ⓠ' 'ⓡ' 'ⓢ' 'ⓣ' 'ⓤ' 'ⓥ' 'ⓦ' 'ⓧ' 'ⓨ' 'ⓩ'; */
    suffix: ' ';
}

@counter-style circled-upper-latin {
    system: fixed;
    symbols: '\24B6' '\24B7' '\24B8' '\24B9' '\24BA' '\24BB' '\24BC' '\24BD' '\24BE' '\24BF' '\24C0' '\24C1' '\24C2' '\24C3' '\24C4' '\24C5' '\24C6' '\24C7' '\24C8' '\24C9' '\24CA' '\24CB' '\24CC' '\24CD' '\24CE' '\24CF';
    /* symbols: 'Ⓐ' 'Ⓑ' 'Ⓒ' 'Ⓓ' 'Ⓔ' 'Ⓕ' 'Ⓖ' 'Ⓗ' 'Ⓘ' 'Ⓙ' 'Ⓚ' 'Ⓛ' 'Ⓜ' 'Ⓝ' 'Ⓞ' 'Ⓟ' 'Ⓠ' 'Ⓡ' 'Ⓢ' 'Ⓣ' 'Ⓤ' 'Ⓥ' 'Ⓦ' 'Ⓧ' 'Ⓨ' 'Ⓩ'; */
    suffix: ' ';
}

@counter-style lower-roman {
    system: additive;
    range: 1 3999;
    additive-symbols: 1000 '\6D', 900 '\63\6D', 500 '\64', 400 '\63\64', 100 '\63', 90 '\78\63', 50 '\6C', 40 '\78\6C', 10 '\78', 9 '\69\78', 5 '\76', 4 '\69\76', 1 '\69';
    /* additive-symbols: 1000 'm', 900 'cm', 500 'd', 400 'cd', 100 'c', 90 'xc', 50 'l', 40 'xl', 10 'x', 9 'ix', 5 'v', 4 'iv', 1 'i'; */
}

@counter-style upper-roman {
    system: additive;
    range: 1 3999;
    additive-symbols: 1000 '\4D', 900 '\43\4D', 500 '\44', 400 '\43\44', 100 '\43', 90 '\58\43', 50 '\4C', 40 '\58\4C', 10 '\58', 9 '\49\58', 5 '\56', 4 '\49\56', 1 '\49';
    /* additive-symbols: 1000 'M', 900 'CM', 500 'D', 400 'CD', 100 'C', 90 'XC', 50 'L', 40 'XL', 10 'X', 9 'IX', 5 'V', 4 'IV', 1 'I'; */
}

/* These symbols were introduced in Unicode 11, so not many fonts are likely to support them. One font that does is Symbola.*/
@counter-style tally-mark {
    system: additive;
    additive-symbols: 5 '\1D378', 1 '\1D377';
    /* symbols: 5 𝍸, 1 𝍷; */
    suffix: ' ';
}

@counter-style cjk-tally-mark {
    system: additive;
    additive-symbols: 5 '\1D376', 4 '\1D375', 3 '\1D374', 2 '\1D373', 1 '\1D372';
    /* symbols: 5 𝍶, 4 𝍵, 3 𝍴, 2 𝍳, 1 𝍲; */
    suffix: ' ';
}

@counter-style cjk-decimal {
    system: numeric;
    range: 0 infinite;

    symbols: '\3007' '\4E00' '\4E8C' '\4E09' '\56DB' '\4E94' '\516D' '\4E03' '\516B' '\4E5D';
    /* symbols: 〇 一 二 三 四 五 六 七 八 九; */
    suffix: '\3001';
    /* suffix: "、" */
}

@counter-style cjk-earthly-branch {
    system: fixed;
    symbols: '\5B50' '\4E11' '\5BC5' '\536F' '\8FB0' '\5DF3' '\5348' '\672A' '\7533' '\9149' '\620C' '\4EA5';
    /* symbols: '子' '丑' '寅' '卯' '辰' '巳' '午' '未' '申' '酉' '戌' '亥'; */
    suffix: '\3001';
    /* suffix: '、'; */
}

@counter-style cjk-heavenly-stem {
    system: fixed;
    symbols: '\7532' '\4E59' '\4E19' '\4E01' '\620A' '\5DF1' '\5E9A' '\8F9B' '\58EC' '\7678';
    /* symbols: '甲' '乙' '丙' '丁' '戊' '己' '庚' '辛' '壬' '癸'; */
    suffix: '\3001';
    /* suffix: '、'; */
}

@counter-style circled-ideograph {
    system: fixed;
    symbols: '\3280' '\3281' '\3282' '\3283' '\3284' '\3285' '\3286' '\3287' '\3288' '\3289';
    /* symbols: '㊀' '㊁' '㊂' '㊃' '㊄' '㊅' '㊆' '㊇' '㊈' '㊉'; */
    suffix: ' ';
}

@counter-style parenthesized-ideograph {
    system: fixed;
    symbols: '\3220' '\3221' '\3222' '\3223' '\3224' '\3225' '\3226' '\3227' '\3228' '\3229';
    /* symbols: '㈠' '㈡' '㈢' '㈣' '㈤' '㈥' '㈦' '㈧' '㈨' '㈩'; */
    suffix: ' ';
}

@counter-style cjk-stem-branch {
    system: cyclic;
    symbols: '\7532\5B50' '\4E59\4E11' '\4E19\5BC5' '\4E01\536F' '\620A\8FB0' '\5DF1\5DF3' '\5E9A\5348' '\8F9B\672A' '\58EC\7533' '\7678\9149'
        '\7532\620C' '\4E59\4EA5' '\4E19\5B50' '\4E01\4E11' '\620A\5BC5' '\5DF1\536F' '\5E9A\8FB0' '\8F9B\5DF3' '\58EC\5348' '\7678\672A'
        '\7532\7533' '\4E59\9149' '\4E19\620C' '\4E01\4EA5' '\620A\5B50' '\5DF1\4E11' '\5E9A\5BC5' '\8F9B\536F' '\58EC\8FB0' '\7678\5DF3'
        '\7532\5348' '\4E59\672A' '\4E19\7533' '\4E01\9149' '\620A\620C' '\5DF1\4EA5' '\5E9A\5B50' '\8F9B\4E11' '\58EC\5BC5' '\7678\536F'
        '\7532\8FB0' '\4E59\5DF3' '\4E19\5348' '\4E01\672A' '\620A\7533' '\5DF1\9149' '\5E9A\620C' '\8F9B\4EA5' '\58EC\5B50' '\7678\4E11'
        '\7532\5BC5' '\4E59\536F' '\4E19\8FB0' '\4E01\5DF3' '\620A\5348' '\5DF1\672A' '\5E9A\7533' '\8F9B\9149' '\58EC\620C' '\7678\4EA5';
    /* 甲子 乙丑 丙寅 丁卯 戊辰 己巳 庚午 辛未 壬申 癸酉 */
    /* 甲戌 乙亥 丙子 丁丑 戊寅 己卯 庚辰 辛巳 壬午 癸未 */
    /* 甲申 乙酉 丙戌 丁亥 戊子 己丑 庚寅 辛卯 壬辰 癸巳 */
    /* 甲午 乙未 丙申 丁酉 戊戌 己亥 庚子 辛丑 壬寅 癸卯 */
    /* 甲辰 乙巳 丙午 丁未 戊申 己酉 庚戌 辛亥 壬子 癸丑 */
    /* 甲寅 乙卯 丙辰 丁巳 戊午 己未 庚申 辛酉 壬戌 癸亥 */
    suffix: '、';
}

/* top: 50%;
-webkit-transform: translate(0, -50%);
-ms-transform: translate(0, -50%);
transform: translate(0, -50%); */

/* text-align: justify;
text-align-last: justify; */

:root {
    --main-hue: 50;

    --color-main: hsl(var(--main-hue), 50%, 60%, 100%);
    --color-off: hsl(var(--main-hue), 100%, 20%, 100%);
    --color-contrast: hsl(var(--main-hue), 0%, 80%, 100%);
    --color-dark: hsl(var(--main-hue), 0%, 60%, 100%);

    --color-bg-main: hsl(var(--main-hue), 20%, 20%, 100%);
    --color-bg-off: hsl(var(--main-hue), 0%, 30%, 100%);
    --color-bg-contrast: hsl(var(--main-hue), 0%, 5%, 100%);
    --color-bg-dark: hsl(var(--main-hue), 0%, 10%, 100%);

    --border-main: 1px solid var(--color-main);
    --border-dark: 1px solid var(--color-dark);

    --width-max: 1920px;

    --scale-factor: 1.1;
}

* {
    color: inherit;
    transition-duration: inherit;
}

main {
    transition-duration: 0s;
}

div {
    transition-duration: 0.1s;
}

header {
    transition-duration: 0.2s;
}

:focus-visible {
    /* box-shadow: 5px 5px 0px blue; */
    outline: 2px solid var(--color-off);
}

:focus-visible {
    /* box-shadow: 5px 5px 0px blue; */
    outline: 2px solid var(--color-off);
}

html {
    overflow-y: scroll;
    height: 100%;
    box-sizing: border-box;
    font-family: FiraCode, OpenDyslexicMono, OpenDyslexic, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;

    background-color: cyan;
    color: magenta;
    background-color: cyan;
    color: magenta;
}

body {
    height: 100%;
    position: relative;
    margin: 0;
}

header,
footer {
    background-color: var(--color-bg-contrast);
}

main {
    background-color: var(--color-bg-dark);
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;

    z-index: 2;
}

nav {
    height: inherit;
    width: var(--width-max);
    max-width: 100%;
    margin: auto;
}

nav div {
    height: inherit;
}

nav div a {
    font-size: 150%;
}

.dropdown-header {

    display: flex;
    justify-content: center;
    align-content: center;
    /* flex-direction: column; */
    flex: 1 1 auto;
    margin: 0px auto;
}

.dropdown-header>a {
    width: min-content;
    height: min-content;
    text-align: center;
    padding: calc((50px - 36px) / 2) 0px;
}

.dropdown-header:hover {
    /* box-shadow: inset 0px 0px 20px 0px var(--color-bg-dark); */
}

.dropdown-header a:hover {
    transform: scale(var(--scale-factor));
}

.dropdown-content {
    position: absolute;
    top: 50px;

    display: none;
    flex-direction: column;

    height: unset;
    padding: 5px 10px 10px;
    background-color: var(--color-bg-contrast);
    line-height: 1;
}

.dropdown-content a {
    height: min-content;
    font-size: 100%;
    padding: 5px 20px;
    /* margin: 0px 0px 0px 10px; */
    text-align: center;
    /* top: auto;
    -ms-transform: none;
    transform: none; */
}

.dropdown-content:hover {
    display: flex;
}

.dropdown-content a:hover {
    /* box-shadow: inset 0px 0px 20px 0px var(--color-bg-main); */
    transform: scale(var(--scale-factor));
}

#dropdown1:hover>#content1,
#dropdown2:hover>#content2,
#dropdown3:hover>#content3,
#dropdown4:hover>#content4 {
    display: flex;
}

main {
    display: block;
    position: relative;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: var(--width-max);
    max-width: 100%;
    min-height: calc(100% - 100px);
    padding: 20px 0px;

    z-index: 1;
}

/* div {
    border: 1px solid black;
} */

.image,
.image-display,
.image-displace,
.image-displace-display {
    background-color: var(--color-bg-off);
    box-shadow: 0px 0px 10px 5px var(--color-bg-contrast);
    height: max-content;
}

/* .image-display:hover,
.image-displace-display:hover {
    transform: scale(1.6);
} */

.image a,
.image-display a,
.image-displace canvas {
    display: block;
    line-height: 0;
}

.image-display img,
.image-displace-display canvas {
    display: block;
    width: 100%;
    height: 90%;
    object-fit: cover;
    padding: 5px 5px 0px 5px;
}

.image-display>.image,
.image-displace-display>.image-displace {
    box-shadow: none;
}

.image-display-description {
    color: var(--color-contrast);
    height: 10%;
    text-align: center;
}

footer {
    position: relative;
    bottom: 0;
    height: 50px;
    width: 100%;
    color: var(--color-contrast);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 15px;
    text-align: center;
}

.o1 {
    order: 1;
}

.o2 {
    order: 2;
}

.o3 {
    order: 3;
}

.o4 {
    order: 4;
}

@media only screen and (min-width: 1000px) {
    * {
        font-size: medium;
    }

    /* [class*="column"] {
        float: left;
        padding: 0px 20px;
    }

    .column-left {
        width: 20%;
    }

    .column-middle {
        width: 60%;
    }

    .column-right {
        width: 20%;
    } */

    .o1,
    .o2,
    .o3,
    .o4 {
        order: unset;
    }
}


h1,
h3,
h5 {
    color: var(--color-contrast);
}

h2,
h4,
h6 {
    color: var(--color-main);
}

h1,
h2 {
    font-size: 200%;
    margin: 30px 0px 15px;
    text-align: center;
    text-shadow: 2px 2px 0px var(--color-bg-main), 4px 4px 2px var(--color-bg-contrast);
}

h3,
h4 {
    font-size: 150%;
    margin: 20px 0px 10px;
    text-align: center;
    text-shadow: 1px 1px 0px var(--color-bg-main), 2px 2px 2px var(--color-bg-contrast);
}

h5,
h6 {
    font-size: 100%;
    margin: 15px 0px 10px;
}

h1 {
    /* text-shadow: 2px 2px 0px var(--color-bg-main), 4px 4px 2px var(--color-bg-contrast); */
}

h2 {
    /* text-shadow: 2px 2px 2px var(--color-bg-contrast); */
}

h3 {}

h4 {}

p,
ol,
ul,
dl,
table,
label,
button,
input,
select {
    color: var(--color-contrast);
    /* background-color: var(--color-bg-main); */
    margin: 10px 0px;
    /* border: var(--border-main); */
    /* border-radius: 5px; */
}

em {
    color: var(--color-main);
    font-style: normal;
}

a:link,
a:visited {
    color: var(--color-main);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: var(--color-contrast);
    text-shadow: 1px 1px 0px var(--color-bg-contrast);
}

ol {
    list-style-type: decimal;
}

ol ol {
    list-style-type: circled-decimal;
}

ol ol ol {
    list-style-type: lower-roman;
}

ul {
    /* list-style: square outside url(""); */
    list-style: square outside;
}

ul ul {
    list-style: disc outside;
}

ul ul ul {
    list-style: circle outside;
}

li {}

table {}

td {
    text-align: center;
}

label {}

button,
input,
select {
    display: inline-block;
    padding: 4px 8px;

    background-color: var(--color-bg-dark);
    border: var(--border-dark);
}

button,
input[type=submit],
select {
    width: 100%;
}

input[type=number],
input[type=text] {
    width: 50px;
}

button:hover,
input[type=submit]:hover,
input[type=radio]:hover {
    /* background-color: var(--color-bg-main); */
    box-shadow: inset 0px 20px 20px 0px var(--color-bg-main);
    cursor: pointer;
}

button {
    width: 100%;
    padding: 10px;
    text-decoration: none;
    font-size: 100%;
    cursor: pointer;
}

input {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=radio] {
    margin: 0px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

select {
    background-image:
        linear-gradient(45deg, transparent 50%, var(--color-dark) 50%),
        linear-gradient(135deg, var(--color-dark) 50%, transparent 50%),
        linear-gradient(to right, var(--color-dark), var(--color-dark));
    background-position:
        calc(100% - 20px) 10px,
        calc(100% - 15px) 10px,
        calc(100% - 40px) 2px;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}

select:focus {
    background-image:
        linear-gradient(45deg, var(--color-off) 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, var(--color-off) 50%),
        linear-gradient(to right, var(--color-off), var(--color-off));
    background-position:
        calc(100% - 15px) 10px,
        calc(100% - 20px) 10px,
        calc(100% - 40px) 2px;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    border-color: var(--color-off);
    outline: 0;
}